<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta property="og:title" content="Surge Meme Maker">
    <meta property="og:description" content="Use this to make some haha funny memes using some cursed sparky and stormy art. We know creativity is too hard, so just fill in some blanks and let Gemini do the work!">
    <meta property="og:image" content="imageurl">
    <meta property="og:url" content="puturlhere">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/uwu.css') }}" />
    <link rel="icon" href="iconlink">
    <title>Surge Meme Maker</title>
</head>

<body>
    <div id="cover">
        <p>Welcome to the</br>SFU Surge Meme Maker</p>
        <button id="enterBtn">Enter</button>
    </div>
    <img src="https://99gifshop.neocities.org/items/1/pikachuuu.gif">
    <img src="https://99gifshop.neocities.org/items/4/adplea.gif">
    <img src="https://99gifshop.neocities.org/items/3/chiyu.gif">
    <img src="https://99gifshop.neocities.org/items/5/gif-longbuterflyblue.gif">
    <div id="content">
        <header>
            <div class="containerhead">
                <h1>Surge Meme Maker</h1>
            </div>
        </header>
        <div id="main">
            <div class="buttons">
                <img src="https://blinkiecollecti0n.neocities.org/images/pikachu.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/1coolchick.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/airguitarblinky.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/oldskoolblinky.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/anotherplanethell.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/awesomeautumn.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/bakspace.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/balloon.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/bitchpiss.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/blingbling.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/blinkiebroke.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/boofuckinghoo.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/braindead.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/brownieaddict.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/candles.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/cheshiregrin.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/chillpill.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/chocolate.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/clickthemonkey.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/comfortfood.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/computergeek.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/conservewater.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dangertosociety.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/daydreamer.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/deadlykitty.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dontlabel.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dontwannagrowup.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dorkinessrules.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dothedoo.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dragonball.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dreamwithme.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/droppedonhead.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/dumbassatwork.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/eek.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/evilcomesinallforms.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/evilicecream.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/evilrubberducky.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/fishrfriends.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/fruitgoesbad.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/gamer.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/gamerselfdiagnosed.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/garfield.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/giantsquid.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/girlgeeksrule.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/givecredit.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/glitch.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/godpeanut.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/godsangry.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/goldfishwatching.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/greenisbest.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/happyfall.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/hearts.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/heavilymedicated.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/homoeroticsubtext.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/hugme.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/iamastar.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ichooseyou.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/splatoon2.gif">
            </div>
            <div id="maincontent">
                <div class="container" id="mememaker">
                    <form action="/submit" method="POST" id="mememake">
                        <p>
                            OMG hewwo~ owo! You wanna makes a meme? Yayyyyyyyyyyy! Okayy, here's how dis workies. I just needs to has THREE words (woah only 3 words)!
                            Just fill in the blank spaces below and I will make u a cool dank epic meme :3
                            </br></br>
                            When I am looking for a really cool dank epic meme, I usually find one that has 
                            <input type="text" name="field1" class="textinput">
                            . Also, this really cool dank epic meme should make me feel really really 
                            <input type="text" name="field2" class="textinput">
                            ! Oh, and I want this really cool dank epic meme to convey to the world a message that 
                            <input type="text" name="field3" class="textinput">
                            and that memes are really cool and dank and epic.
                        </p>
                        <button type="submit">Send all your data to Google</button>
                    </form>
                </div>
                <div class="container" id="generatedmeme">
                    <img id="throbber" src="../static/bigthrobber.gif">
                    <p id="loadingText" style="display:none;">
                        Generating Cool Dank Epic Meme...
                    </p>
                    <img id="meme" style="display:none; max-width:100%">
                </div>
                <div class="container" id="videoplayer">
                    <iframe
                        src="https://www.youtube.com/embed/j3p6q24QXRE?autoplay=1&controls=0&loop=1&playlist=j3p6q24QXRE" allow="autoplay" frameborder="0">
                    </iframe>
                    <div id="transoverlay">
                        <p>epic &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; music</p>
                    </div>
                </div>
                <div class="container" id="description">
                    <p id="desctitle">How To Use</p>
                    <p>
                        ok so like you pull up this meme generator and it immediately hits you with this extremely simple setup (´・ω・`) like almost suspiciously simple (¬‿¬) because instead of giving you a bunch of tools or sliders or anything that would imply effort (；￣Д￣) it just gives you three little boxes (⊙_☉) sitting there in a row like “hey just type stuff” (づ｡◕‿‿◕｡)づ
</br></br>
and each box is basically a mad lib slot (≖‿≖) like one might be a noun (¬¬ ) one might be a verb (；・∀・) one might just be “something weird” (；一_一) and you’re sitting there thinking way harder than you should (ง •̀•́)ง like ok what combination of three completely random words is going to produce something even remotely funny (￣▽￣*)ゞ
</br></br>
so you type something in (´・ω・`) maybe it’s “goblin” (¬‿¬) then “evading” (⊙_☉) then “responsibilities” (；¬д¬) and you’re like yeah ok (￣ー￣) this feels like it could go somewhere (✧ω✧) or at least it won’t be boring (；￣Д￣)
</br></br>
and the whole time the interface is just chilling (¬_¬ ) like completely unbothered (≖‿≖) like it’s seen way worse inputs than yours (；・∀・) it knows what you’re about to do (´・ω・`) it knows you’re about to hit that button (ง'̀-'́)ง
</br></br>
so you press enter (✧∀✧) and your three words just get launched (⊙_☉) straight into the void (；￣Д￣) sent off to google Gemini ( ͡° ͜ʖ ͡°) like a little care package of nonsense (¬‿¬) with the unspoken message of “please turn this into something funny” (；・∀・)
</br></br>
and then there’s that brief moment (´・ω・`) where nothing is happening yet (⊙☉) and you’re just staring at the screen (；￣Д￣) like ok (¬¬ ) what is it doing right now (≖‿≖) is it cooking (✧ω✧) is it struggling (；一_一) is it judging me (；¬д¬)
</br></br>
because somewhere out there (¬‿¬) Gemini is taking your three words (⊙☉) and just going absolutely wild with them (✧∀✧) like building a full meme from scratch (￣▽￣) picking an image (；・∀・) deciding on text placement (¬¬ ) figuring out tone (≖‿≖) maybe even adding layers of irony you didn’t intend (；￣Д￣)
</br></br>
and you have zero control over any of it (´・ω・`) which honestly just makes it better (¬‿¬) because now it’s like a surprise every time (⊙_☉) like opening a loot box except the loot is humor (✧ω✧) and sometimes it’s good (≧◡≦) sometimes it’s confusing (；・∀・) sometimes it’s just completely cursed (╯°□°）╯︵ ┻━┻
</br></br>
and then boom (✧∀✧) the image shows up (⊙_☉) fully formed (￣▽￣*)ゞ like an actual meme (¬‿¬) text and everything (；・∀・) and you’re just sitting there like (´・ω・`) ok yeah (￣ー￣) that’s… that’s something (≖‿≖)
</br></br>
sometimes it hits (≧◡≦) like genuinely funny (✧ω✧) and you’re like no way (⊙☉) I cooked (¬‿¬) even though you absolutely did not (；￣Д￣) and sometimes it’s just bizarre (；一_一) like it almost makes sense but not quite (¬¬ ) and that somehow makes it even better (≖‿≖)
</br></br>
and of course you immediately want to try again (ง •̀_•́)ง because now you’re curious (⊙_☉) like what happens if you change one word (；・∀・) what if you make it more chaotic (¬‿¬) what if you go full nonsense (╯°□°）╯︵ ┻━┻
</br></br>
so you start feeding it worse and worse combinations (；¬д¬) like completely unhinged inputs (≖‿≖) and every time (✧∀✧) it comes back with something (￣▽￣) like it’s just rolling with whatever you give it (¬_¬ ) no questions asked (´・ω・`)
</br></br>
and after a while (；￣Д￣) you’re just in this loop (⊙_☉) typing three random things (¬‿¬) hitting enter (✧ω✧) waiting (´・ω・`) and then reacting (≧◡≦) like it’s a whole experience (≖‿≖) way more engaging than it has any right to be (；・∀・)
</br></br>
and that’s kind of the magic of it (✧ω✧) just you (¬‿¬) three weird little text boxes (⊙☉) and a machine somewhere out there (；・∀・) turning your nonsense into fully realized meme energy (≧◡≦) over and over again (ง •̀•́)ง until you’re just sitting there (´・ω・`) like yeah (￣ー￣) one more (¬‿¬) just one more (✧∀✧)
                    </p>
                </div>
                <div class="container" id="advert">
                    <p>join our discord y'all #shamelessplug</p>
                    <a id="ad" href="http://discord.gg/fd6E5WKtrd"><img id="ad" src="https://cdn.discordapp.com/icons/1167530947705577523/860477a97eaa185589f72caff1108eba.webp"></a>
                </div>
            </div>
            <div class="buttons">
                <img src="https://blinkiecollecti0n.neocities.org/images/ignorancebliss.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ihatepopups.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ilovefall.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/iloveicecream.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ilovemyfish.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ilovesnow.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/iluvcats.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/iluvglitter.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/imbored.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/innerdork.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/innocent.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/internetloser.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/isaymeow.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ismilecuzidk.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/itsthatgoblin.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/iwannaflyaway.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/iwanttobelieve.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/iwillrememberyou.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/kill.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/kindafunky.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/kissass.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ladybugcollector.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/laundryblinky.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/lemondemon.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/lesbianthing.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/madcows.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/merrychristmas.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/metalrules.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/mintlover.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/missbitch.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/motherfucker.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/muhahaha.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/musicislife.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/myownbullshit.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/nap.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/nekkidblinky.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/nospoon.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/notlonelyblinky.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/opinion.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/patrickdisturbed.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ilovecats.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/ilovepink.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/peaceandquiet.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/pinkisbeautiful.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/pissinurcheerios.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/pissonurleg.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/playwild.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/poke.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/possums.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/prettyinpink.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/proudlayoutwhore.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/psychoprincess.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/renstimpy.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/roflmao.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/selfexpression.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/shithead.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/silentdreamz.gif">
                <img src="https://blinkiecollecti0n.neocities.org/images/softhearted.gif">
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='badux.js') }}"></script>
<script src="https://www.youtube.com/iframe_api"></script>