<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta property="og:title" content="Surge Meme Maker">
    <meta property="og:description" content="Use this to make some haha funny memes using some cursed sparky and stormy art. We know creativity is too hard, so just fill in some blanks and let Gemini do the work!">
    <meta property="og:image" content="imageurl">
    <meta property="og:url" content="puturlhere">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="../templates/uwu.css" />
    <link rel="icon" href="iconlink">
    <title>Surge Meme Maker</title>
</head>

<body>
    <div id="content">
        <header>
            <div class="container">
                <h1>Surge Meme Maker</h1>
            </div>
        </header>
        <div id="main">
            <div id="buttons">
                <img src="https://blinkiecollecti0n.neocities.org/images/pikachu.gif">
            </div>
            <div id="maincontent">
                <div class="container" id="mememaker"></div>
                <div class="container" id="asd"></div>
                <div class="container" id="buttons"></div>
                <div id="advert"></div>
            </div>
            <div id="buttons">

            </div>
        </div>
    </div>
</body>

<script src="badux.js"></script>