:root {
    --bg: rgb(46, 0, 105);
    --fontcolor: rgb(255, 255, 0);
}

@font-face {
    font-family: 'gigi';
    src: url("../assets/GIGI.TTF");
}

@font-face {
    font-family: 'comicsans';
    src: url("../assets/Comic\ Sans\ MS.ttf")
}


html {scrollbar-width: none;}
body, html {height: 100%;}

body::-webkit-scrollbar, body::-webkit-scrollbar-button {display: none;}

body {
    background-image: url("../assets/rainbowuwu.gif");
    background-repeat: repeat;
    background-size: 50%;
    -ms-overflow-style: none;
}

header h1{
    font-size: 5rem;
    font-family: gigi;
    color: var(--fontcolor);
    background-color: var(--bg);
    border-radius: 1.5rem;
    width: 900px;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.containerhead {
    display: flex;
    height: fit-content;
    border-radius: 1rem;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 1rem;
    justify-content: center;
    background-color: var(--bg);
    border-radius: 1.5rem;
    color: var(--fontcolor);
    font-family: comicsans;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#desctitle {
    text-align: center;
    font-size: 3rem;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

#main {
    display: flex;
    flex-direction: row;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#buttons img {
    width: 150px;
    height: 20px;
}

#ad {
    width: 100%;
    height: 12rem;
    display: block;
}

#maincontent {
    width: 1000px;
}